<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h1>Samuel Blake</h1>
			<p>computer science &middot; mathematics &middot; cognitive science</p>
			<button id="testjs" class="btn btn-primary btn-lg">Click Me!</button>
		</div>

		<ol>
		{{#each projects}}
			<li><a href="#{{id}}">{{name}}</a></li>
		{{/each}}
		</ol>


		<h4>Projects</h4>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
		{{#each projects}}
			{{#if {{id}} == 'project1' }}
				<div id="project1">
					<a href="http://tea-ucsd.herokuapp.com/login" class="thumbnail">
						<img src="images/TEA.png" alt="TEA Web-App image">
						<p>TEA, a Project Workflow Application</p>
					</a>
					<p id="TEA">Tired of the stresses of starting and completing a group project?
						Need help finding a group project to join? Or you want to display your project for others to join?
						Look no further! Check out TEA, a Project Workflow Application. Not only can you join and create projects, TEA
						will also help you complete your project! Equipped with Milestones, Announcements, a Calendar, and more, your project
						dashboard will motivate you and make it easy to track your project's progress!
					</p>
				</div>
			{{else}}
				<div class="project" id="{{id}}">
					<a href="project/{{name}}" class="thumbnail">
						<img src="images/{{image}}" class="img">
						<p>{{name}}</p>
					</a>
				</div>
			{{/if}}
		{{/each}}
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
